*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.top{
   background-color: #222533;
}
.bottom{
   background-color: #171D22;
   padding: 20px 20px;
}
.bottom .wrap a{
   text-decoration: none;
   color: #1ABC9C;
}
.wrap{
   width: 1168px;
   margin: auto;
   display: flex;
}
.wrap div{
   width: 270px;
   margin-right: 30px;
}
.wrap div:last-child{
   margin-right: 0;
}
.bottom .wrap p{
   font-family: 'PT Sans';
   font-size: 16px;
   line-height: 24px;
   color: #A1B1BC;
}
.top .wrap h3{
   font-family: 'PT Sans';
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-top: 100px;
   text-transform: uppercase;
}
.top .wrap h3::after{
   content: "";
   width: 70px;
   height: 3px;
   background-color: #1ABC9C;
   display: block;
}
.wrap ul li{
   list-style: none;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #707070;
   padding-top: 20px;
   padding-bottom: 20px;
}
.wrap ul li:last-child{
   border-bottom: none;
}
.wrap ul li:first-child{
   border-bottom: 1px solid #707070;
}
.wrap ul li a{
   font-family: 'PT Sans';
   font-size: 16px;
   line-height: 24px;
   color: #A1B1BC;
   text-decoration: none;
}
.wrap ul li a:hover{
   color: #1ABC9C;
}
.wrap ul li span{
   font-family: 'PT Sans';
   font-size: 14px;
   line-height: 24px;
   color: #A1B1BC;
}

.wrap .notes p{
   font-family: 'PT Sans';
   font-size: 14px;
   line-height: 24px;
   color: #A1B1BC;
   margin-bottom: 20px;
   margin-top: 17px;
}
.wrap .notes a{
   font-family: 'PT Sans';
   font-size: 17px;
   font-weight: 700;
   line-height: 24px;
   color: #1ABC9C;
   text-decoration: none;
   text-transform: uppercase;
}