.divider{
    height: 20px;
    position: relative;
    text-align: center;
}
.divider:after{
    content: '';
    border-bottom: 1px solid black;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
}

.divider span{
    z-index: 1;
    background-color: white;
    position: absolute;
    transform: translateX(-50%);
}